
<router-outlet></router-outlet>

<h2>{{ message }}</h2>
<h3>{{ numMessage }}</h3>
<ul>
  <li *ngFor="let things of things">
    {{ things }}
  </li>
</ul>

<div *ngFor="let obj of arr">{{obj | json}}

</div>
<br>
<div *ngFor='let item of arrTwo | keyvalue'>
  {{item.value}}
</div>
<br>
<div *ngFor="let x of arrThree">
  ID: {{x.id}}, Name: {{x.name}}, Status: {{x.status}}

</div>